<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/template :: header">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card mt-5">
				<div class="card-header"></div>
				<div class="card-body">
		<a class="btn btn-primary" href="/ventas/form">Registrar Venta</a>
						<table class="table mt-3">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">FECHA</th>
									<th scope="col">PRODUCTO</th>
									<th scope="col">CLIENTE</th>
									<th scope="col">CANTIDAD</th>
									<th scope="col">TOTAL</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="venta : ${ventas}">
									<th scope="row" th:text="${venta.id}"></th>
									<td th:text="${venta.fecha}"></td>
									<td th:text="${venta.producto}"></td>
									<td th:text="${venta.cliente}"></td>
									<td th:text="${venta.cantidad}"></td>
									<td th:text="${venta.total}"></td>
									<td><a class="btn btn-warning"
										th:href="@{/ventas/form/} +${venta.id}" th:text="Editar"></a></td>
									<td><a class="btn btn-danger"
										th:href="@{/ventas/eliminar/} +${venta.id}" th:text="Eliminar" onclick="return confirm('Estas seguro de eliminar')"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>		
	</div>
</div>
</body>
</html>