<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="/layout/template :: header" >
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card">
				<div class="card-header" ></div>
				<div class="card-body">
				<h3 th:if="ERROR!=null" th:text="${ERROR}" style="color:red"></h3>
					<form th:action="@{/ventas/insertar}" th:object="${venta}" method="POST">
						<div class="form-group">
							<label for="id">Cliente</label> 
							<select th:field="*{cliente}" class="form-control">

		                         <option value=""> -- </option>
		                         <option  th:each="cliente : ${clientes}" th:value="${cliente.nombres}" th:text="${cliente.nombres}"/>
		                  	</select>
						</div>
						<div class="form-group">
							<label for="id">Producto</label> 
	           				 <select th:field="*{producto}" class="form-control">
		                         <option value=""> -- </option>
		                         <option  th:each="producto : ${productos}" th:value="${producto.nombre} " th:text="${producto.nombre} +' '+ ${producto.precio} + ' Soles'"/>

		                  	</select>
						</div>
						<div class="form-group">
							<label for="cantidad">Cantidad</label>
							<input type="text" class="form-control" th:field="*{cantidad}" name="cantidad">
						</div>
						<input type="submit" th:value="${btn}" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>		
	</div>
</div>
</body>
</html>